.ourteam__photo {
  width: 215px;
  height: 286px;
  border-radius: 10px;
  margin: 20px 20px 0;
  padding: 0;
}

@media screen and (max-width: 1300px) {
  .ourteam__photo {
    width: 170px;
    height: 226px;
    border-radius: 7.87278px;
  }
}

@media screen and (max-width: 760px) {
  .ourteam__photo {
    width: 120px;
    height: 160px;
    border-radius: 5px;
    margin: 10px 10px 0;
  }
}