.partners__text-container {
  color: white;
  margin: 385px auto 0;
  max-width: 920px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .partners__text-container {
    margin-top: 280px;
    max-width: 720px;
  }
}

@media screen and (max-width: 830px) {
  .partners__text-container {
    max-width: 705px;
  }
}

@media screen and (max-width: 768px) {
  .partners__text-container {
    max-width: 690px;
  }
}

@media screen and (max-width: 760px) {
  .partners__text-container {
    max-width: 400px;
  }
}

@media screen and (max-width: 440px) {
  .partners__text-container {
    margin-top: 197px;
    max-width: 288px;
  }
}