.feedback__input {
  border-radius: 10px;
  color: #009FAC;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: 0.1px;
  resize: none;
}

.feedback__input:last-child {
  height: 140px;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.feedback__input::-webkit-input-placeholder {
  color: #009FAC;
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
}
.feedback__input:-moz-placeholder {
  color: #009FAC;
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
}
.feedback__input::-moz-placeholder {
  color: #009FAC;
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
}
.feedback__input:-ms-input-placeholder {
  color: #009FAC;
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
}
.feedback__input::-ms-input-placeholder {
  color: #009FAC;
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
}
.feedback__input::placeholder {
  color: #009FAC;
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
}


@media screen and (max-width: 768px) {
  .feedback__input {
    font-size: 14px;
    line-height: 1.43;
    padding-left: 12px;
  }
  .feedback__input:last-child {
    height: 108px;
  }

  .feedback__input::-webkit-input-placeholder {
    padding-top: 12px;
  }
  .feedback__input:-moz-placeholder {
    padding-top: 12px;
  }
  .feedback__input::-moz-placeholder {
    padding-top: 12px;
  }
  .feedback__input:-ms-input-placeholder {
    padding-top: 12px;
  }
  .feedback__input::-ms-input-placeholder {
    padding-top: 12px;
  }
  .feedback__input::placeholder {
    padding-top: 12px;
  }
}

@media screen and (max-width: 760px) {
  .feedback__input {
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.33;
    padding-left: 10px;
  }
  .feedback__input:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@media screen and (max-width: 440px) {
  .feedback__input:last-child {
    height: 140px;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .feedback__input::-webkit-input-placeholder {
    padding-top: 10px;
  }
  .feedback__input:-moz-placeholder {
    padding-top: 10px;
  }
  .feedback__input::-moz-placeholder {
    padding-top: 10px;
  }
  .feedback__input:-ms-input-placeholder {
    padding-top: 10px;
  }
  .feedback__input::-ms-input-placeholder {
    padding-top: 10px;
  }
  .feedback__input::placeholder {
    padding-top: 10px;
  }
}