.partners__logo-zone-under {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  column-gap: 58px;
  list-style: none;
}


@media screen and (max-width: 768px) {
  .partners__logo-zone-under {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 7px;
    max-width: 690px;
  }
}

@media screen and (max-width: 320px) {
  .partners__logo-zone-under {
    grid-column: 1/2;
    grid-template-columns: repeat(3, 3fr);
    column-gap: 45px;
    row-gap: 20px;
  }
}