.partners__grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  max-width: 1110px;
  margin: 100px auto 80px;
  padding: 0;
}


@media screen and (max-width: 768px) {
  .partners__grid-container {
    max-width: 690px;
    gap: 30px;
    margin: 60px auto;
  }
}

@media screen and (max-width: 320px) {
  .partners__grid-container {
    max-width: 287px;
    grid-template-rows: 1fr;
    margin: 50px auto 40px;
  }
}