.ourteam__name {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: #000D26;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 1300px) {
  .ourteam__name {
    font-size: 14px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 760px) {
  .ourteam__name {
    font-size: 12px;
    line-height: 1.33;    
  }
}